name: MEOW CI

on:
  workflow_dispatch:
  push:
    branches: main
    paths-ignore: '**.md'
  pull_request:
    branches: main
    paths-ignore: '**.md'

jobs:
  build:

    runs-on: macos-15

    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Upload CI module zip as artifact zip
      uses: actions/upload-artifact@v4
      with:
        name: Three-Finger-Screenshot-Module_@MeowDump_#${{ github.run_number }}
        path: '*'
        compression-level: 9
